{
    "plugins": ["transform-object-rest-spread", "transform-react-jsx"],
    "env": {
        "production": {
            "presets": [["env", { "targets": { "browsers": ["last 2 versions"] }}]],
            "plugins": ["transform-react-constant-elements"]
        },
        "production-server": {
            "presets": [["env", { "targets": { "node": "current" }}]],
            "plugins": ["transform-react-constant-elements"]
        },
        "development": {
            "presets": [["env", { "targets": { "browsers": ["last 2 versions"] }}]]
        },
        "development-server": {
            "presets": [["env", { "targets": { "node": "current" }}]]
        }
    }
}
